/* Launcher is a foundation container.  See launcher.less in the theme directory */
.lp-transactions-scroll{
    overflow: hidden;
    min-height: 500px;
    position: relative;
}
.lp-transactions-scroll-inner {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.lp-launcher-main {
    overflow: inherit;
}
.lp-transactions-scroll{
    overflow: hidden;
    min-height: 500px;
    position: relative;
}
.lp-transactions-scroll-inner {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.lp-launcher-main {
    overflow: inherit;
}