<?xml version="1.0" encoding="UTF-8"?>
<Context useHttpOnly="false">
    <Environment name="backbase/config"
            value="\${project.build.testOutputDirectory}/configuration/backbase.properties"
            type="java.lang.String"
            override="false"/>
            
    <Environment name="portalmanager/ice-config"
            value="\${project.build.testOutputDirectory}/configuration/ice-config.properties"
            type="java.lang.String"
            override="false"/>

    <Environment name="mashup/ptc-config"
            value="\${project.build.testOutputDirectory}/configuration/ptc-config.properties"
            type="java.lang.String"
            override="false"/>
</Context>