/**
 * Orginal ICE Styles
 */
.bd-ContentTemplate-wrapper {
    font:normal normal 11px/16px Helvetica,Arial,sans-serif;;
    padding:5px;
}

.bd-ContentTemplate-div {
    border:1px solid #cdcdcf;
    padding:10px;
    background:#f5f6f8;
    -webkit-box-shadow: 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: 2px 2px 2px 0px #dddddd;
    box-shadow: 2px 2px 2px 0px #dddddd;
    min-height:275px;
}

.bd-ContentTemplate-div h3 {
    font:normal normal 18px/22px Impact,sans-serif;
    color:#447272;
    margin:0;
    padding:0 10px 3px;
    display:block;
    border-bottom: 1px dotted #b4b4b6;
}

.bd-ContentTemplate-wrapper p.bd-ContentTemplate-p {
    text-align:right;
    padding:5px 5px 3px 5px;
    margin:0;
}
.bd-ContentTemplate-wrapper span {
    background:url('../../media/content_template/arrow-lt.gif') no-repeat left 3px;
}

.bd-ContentTemplate-wrapper a.bd-ContentTemplate-toplink {
    padding-left:8px;
}

.bd-ContentTemplate-div ul, .bd-ContentTemplate-div li {
    margin:0;
    padding:0;
    list-style:none;
    list-style-type:none;
}

.bd-ContentTemplate-div ul {
    padding:3px 0 18px 0;
}

.bd-ContentTemplate-wrapper a.bd-ContentTemplate-toplink,
.bd-ContentTemplate-div ul li a {
    color:#2c3437;
    text-decoration:none;
}

.bd-ContentTemplate-wrapper a.bd-ContentTemplate-toplink:hover,
.bd-ContentTemplate-div ul li a:hover {
    text-decoration:underline;
}

.bd-ContentTemplate-div li {
    padding-left:10px;
    background: url('../../media/content_template/bullet.gif') no-repeat left 6px;
    margin:10px;
}

.bd-ContentTemplate-div a.bd-ContentTemplate-cta {
    color:#008780;
    padding:0 20px 10px 0;
    background:url('../../media/content_template/cta-link.gif') no-repeat right 0;
}
.bd-ContentTemplate-div a.bd-ContentTemplate-cta:hover {
    color:#68811A;
}

.bd-ContentTemplate-div p {
    color:#595959;
}

.bd-imageText-wrapper{
    padding:10px;
}
.bd-imageText-wrapper .bd-ContentTemplate-h3 {
    font-size: 20px;
    font-weight: normal;
    color: #443C34;
    margin-bottom: 5px;
    line-height: 1.2em;
    min-height: 1.2em;
}

.bd-imageText-wrapper .bd-ContentTemplate-para {
    font-size: 14px;
    line-height: 1.5em;
    min-height: 1.5em;
    margin:10px 0 !important;
    color: #443C34;
    padding:0;
    word-wrap: break-word;
}

.bd-imageText-wrapper .bd-ContentTemplate-cta {
    color: #999;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5em;
    min-height: 1.5em;
}

.bd-imageText-wrapper .bd-ContentTemplate-img {
    border: 0;
    cursor: pointer;
    display:block;
    z-index:0;
    position:relative
}

.bd-imageText-wrapper .bd-ContentTemplate-cta:hover {
    color: red;
}

.bd-imageText-wrapper .bd-imageText-col {
    word-wrap: break-word;
    min-height: 20px;
}

.bd-ContentTemplateWidget .bd-ContentTemplateButton {
    position: relative;
    top: 4px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: baseline;
}

.bd-imageText-wrapper .bd-imgArea {
    max-width : 100%;
}


.ie .designMode .bd-nicEdit-AdvanceContentTemplate *[contenteditable]:focus {
    outline: 1px dotted;
}

.designMode .bd-linkArea {
    display: inline-block;
    min-width: 100px;
    padding: 2px;
}


/**
 * Launchpad specific
 */
.lp-content-advanced h3 {
    line-height: 20px;
}

/* TeaserText.html */

.lp-content-teasertext h2 {
    line-height: 24px;
}

.lp-content-text-area h1 {
    font-weight: bold;
    margin-bottom: 0px;
}

/* PersonalFinanceManager.html */

.lp-pfm {
    padding: 5px;
}

.lp-pfm i.lp-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* TimeOffer.html */

.lp-timeoffer {
    padding: 5px;
}

.lp-timeoffer-date {
    height: 21px;
    width: 36px;
    position: absolute;
    right: 0;
    top: 6px;
    line-height: 12px;
    padding: 5px 0 0 6px;
    margin-top: 18px;
    color: white;
    font-size: 12px;
    background: url('../../media/springboard/timeoffer-badge.png');
}

/* ChecklistText.html */

.lp-checklist-area {
    padding: 8px;
    width: 33.33%;
    float: left;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.lp-checklist-area .lp-icon-tick {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin: 8px;
    background: transparent url(icon_tick.png) no-repeat 0 0;
    position: relative;
}


/**
 * From promo carousel
 */
.lp-grippy {
    background:rgba(0,0,0,0.3);
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    position: absolute;
    top: -10px;
    left: 0px;
    cursor: move;
    display: none;
    z-index: 100;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.draggable {
    z-index: 1000;
}

.lp-portal-body .lp-wrapper {
    transition:         background-color 150ms ease-in;
    -webkit-transition: background-color 150ms ease-in;
}

.lp-promo-slide .bd-imageContent-dropArea,
.lp-promo-slide .lp-content-image-area {
    display: none;
}

.bd-designMode-true .lp-promo-slide .bd-imageContent-dropArea,
.bd-designMode-true .lp-promo-slide .bd-imageContent-dropArea img {
    width:  200px;
    height: 75px;
}
.bd-designMode-true .lp-promo-slide .bd-imageContent-dropArea {
    display: block;
    float:   right;
}

.lp-promo-slide .lp-content-text-area {
    position: absolute;
    opacity:  0;
}

/*.lp-promo-title {*/
/*color:         #9f0000;*/
/*}*/
/*.lp-promo-subtitle {*/
/*font:    24px "Covered By Your Grace", Georgia, "Times New Roman", Times, serif;*/
/*color:   rgba(182, 0, 0, 0.7);*/
/*}*/

.bd-designMode-true .lp-promo-slide .lp-content-text-area > h2,
.bd-designMode-true .lp-promo-slide .lp-content-text-area > h3,
.bd-designMode-true .lp-promo-slide .lp-content-text-area > p {
    background: none;
}
.bd-designMode-true .lp-promo-slide:hover .lp-content-text-area > h2,
.bd-designMode-true .lp-promo-slide:hover .lp-content-text-area > h3,
.bd-designMode-true .lp-promo-slide:hover .lp-content-text-area > p {
    background: rgba(255, 255, 255, 0.40);
}

.bd-designMode-true .lp-promo-slide .lp-content-image-area {
    display:            block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin:             10px 10px 3px 0;
    padding:            5px;
    clear:              both;
    font-size:          10px;
    text-align:         center;
    background-color:   #eee;
    box-shadow:         0 2px 2px #FFFFFF inset, 0 -2px 2px #999 inset, 2px 0 1px #ccc inset, -1px 0 1px #ccc inset, 1px 1px 2px #999;
    -moz-box-shadow:    0 2px 2px #FFFFFF inset, 0 -2px 2px #999 inset, 2px 0 1px #ccc inset, -1px 0 1px #ccc inset, 1px 1px 2px #999;
    -webkit-box-shadow: 0 2px 2px #FFFFFF inset, 0 -2px 2px #999 inset, 2px 0 1px #ccc inset, -1px 0 1px #ccc inset, 1px 1px 2px #999;
}

.lp-promo-slide {
    position:            relative;
    width:               100%;
    height:              100%;
    min-height: 300px;
    box-sizing:          border-box;
    -moz-box-sizing:     border-box;
    -webkit-box-sizing:  border-box;
    background-size:     cover;
    background-position: center bottom;
    background-repeat:   no-repeat;
}
.lp-promo-slide .btn {
    margin-top:10px;
}