<widget>
    <name>widget-google-analytics</name>
    <contextItemName>[BBHOST]</contextItemName>
    <extendedItemName>widget-launchpad-base</extendedItemName>
    <properties>
        <property label="Title" name="title" viewHint="text-input,user">
            <value type="string">Google Analytics</value>
        </property>
        <property name="thumbnailUrl">
            <value type="string">$(contextRoot)/static/launchpad/widgets/google-analytics/icon.png</value>
        </property>
        <property name="src">
            <value type="string">$(contextRoot)/static/launchpad/widgets/google-analytics/index.html</value>
        </property>
    </properties>
    <tags>
        <tag type="section">launchpad</tag>
    </tags>
</widget>