{namespace launchpad}
/**
 * Lays out container for mobile
 * @param item Item in context
 */
{template .MobileDeckContainer}
    <div class="bp-container bp-ui-dragRoot" id="{$item.name}" data-pid="{$item.name}" style="min-height:50px">
        <div class="--area bp-area lp-mobiledeck-mainarea">
			{foreach $child in $item.children}
				{include($child) |noAutoescape}
			{/foreach}
        </div>
    </div>
{/template}