<widget>
    <name>widget-video</name>
    <contextItemName>[BBHOST]</contextItemName>
    <extendedItemName>widget-launchpad-base</extendedItemName>
    <properties>
        <property label="Title" name="title" viewHint="text-input,user">
            <value type="string">Video Viewer</value>
        </property>
        <property name="TemplateName">
            <value type="string">Standard_Widget</value>
        </property>
        <property name="thumbnailUrl">
            <value type="string">$(contextRoot)/static/dashboard/media/icons/icons-widgets_01-default.png</value>
        </property>
        <property name="src">
            <value type="string">$(contextRoot)/static/launchpad/widgets/video/index.html</value>
        </property>
    </properties>
    <tags>
        <tag type="regular">content</tag>
        <tag type="section">launchpad</tag>
    </tags>
</widget>