<?xml version="1.0" encoding="UTF-8"?>
<Context useHttpOnly="false">

    <Resource name="jdbc/configuration-datasource"
            auth="Container"
            type="javax.sql.DataSource"
            maxActive="4"
            maxIdle="2"
            username="sa"
            password=""
            maxWait="5000"
            driverClassName="org.h2.Driver"
            url="jdbc:h2:file:\${project.basedir}/data/contentServicesConfiguration;MVCC=TRUE;DB_CLOSE_ON_EXIT=FALSE"/>

    <Resource name="jdbc/content-datasource"
            auth="Container"
            type="javax.sql.DataSource"
            maxActive="4"
            maxIdle="2"
            username="sa"
            password=""
            maxWait="5000"
            driverClassName="org.h2.Driver"
            url="jdbc:h2:file:\${project.basedir}/data/contentServicesContent;MVCC=TRUE;DB_CLOSE_ON_EXIT=FALSE"/>

    <Resource name="jdbc/resource-datasource"
            auth="Container"
            type="javax.sql.DataSource"
            maxActive="4"
            maxIdle="2"
            username="sa"
            password=""
            maxWait="5000"
            driverClassName="org.h2.Driver"
            url="jdbc:h2:file:\${project.basedir}/data/contentServicesResource;MVCC=TRUE;DB_CLOSE_ON_EXIT=FALSE"/>

    <Environment name="backbase/config"
            value="\${project.build.testOutputDirectory}/configuration/backbase.properties"
            type="java.lang.String"
            override="false"/>
</Context>