<widget>
    <name>widget-advanced-content</name>
    <contextItemName>[BBHOST]</contextItemName>
    <extendedItemName>widget-launchpad-base</extendedItemName>
    <properties>
        <property label="Title" name="title" viewHint="text-input,user">
            <value type="string">Advanced Content Widget</value>
        </property>
        <property name="thumbnailUrl">
            <value type="string">$(contextRoot)/static/launchpad/widgets/advanced-content-template/icon.png</value>
        </property>
        <property name="src">
            <value type="string">$(contextRoot)/static/launchpad/widgets/advanced-content-template/index.html</value>
        </property>
        <property label="Content Template" name="templateUrl" viewHint="text-input,designModeOnly,user">
            <value type="string">$(contextRoot)/static/launchpad/html/content/text-image.html</value>
        </property>
        <property label="Height" name="height" viewHint="text-input,designModeOnly,user">
            <value type="string"></value>
        </property>
        <property label="Set Page Background (for applicable templates)" name="setPageBackground" viewHint="checkbox,designModeOnly,user">
            <value type="boolean">false</value>
        </property>
    </properties>
    <tags>
        <tag type="regular">content</tag>
        <tag type="section">launchpad</tag>
    </tags>
</widget>