.bp-TabCont-tabEditBar {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -14px;
    right: -46px;
}
.lp-launcher-tab:hover .bp-TabCont-tabEditBar {
    display:block;
}
.nav-stacked > li + li {
    margin-top:0;
}
.lp-launcher-tabs {
    width:200px;
}
.lp-launcher-tab-container {
    position:absolute;
    top:0;
    right:0;
    left:210px;
}