<widget>
    <name>widget-catalog</name>
    <contextItemName>[BBHOST]</contextItemName>
    <extendedItemName>widget-launchpad-base</extendedItemName>
    <properties>
        <property name="src">
            <value type="string">$(contextRoot)/static/launchpad/widgets/widget-catalog/index.html</value>
        </property>
        <property label="Widget Icon" name="icon" viewHint="user,designModeOnly">
            <value type="string">/static/launchpad/media/springboard/icon-widget-catalog.png</value>
        </property>
        <property name="title" viewHint="user,designModeOnly">
            <value type="string">Widget Catalog</value>
        </property>
        <property name="thumbnailUrl">
            <value type="string">$(contextRoot)/static/launchpad/widgets/widget-catalog/icon.png</value>
        </property>
    </properties>
    <tags>
        <tag type="regular">foundation</tag>
        <tag type="section">launchpad</tag>
    </tags>
    <securityProfile>ADMIN</securityProfile>
</widget>