<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget">
<head>
    <title>Notifications Widget</title>

    <g:preferences>
        <g:preference name="messageSrc" label="Messages Source" type="text" default="$(contextPath)/static/launchpad/conf/messages.json"/>
        <g:preference name="notificationsEndpoint" label="Notifications Endpoint" type="text" default="$(contextPath)/services/rest/contact-dialogues/messages" />
        <g:preference name="closeNotificationEndpoint" label="Mark Received Endpoint" type="text" default="$(contextPath)/services/rest/contact-dialogues/messages/$(id)/deactivate" />
        <g:preference name="pollInterval" label="Poll Interval" type="text" />
        <g:preference name="allowPubsub" label="Receive pubsub messages" type="checkbox" default="true"/>
    </g:preferences>

    <link rel="stylesheet" type='text/css' href="css/notifications.css" />

    <script src="../../conf/require-conf.js"></script>
</head>
<body class="lp-notifications" g:onload="requireWidget(__WIDGET__, 'js/notifications');">

    <div ng-controller="NotificationsController" class="ng-cloak">

        <div class="lp-nonfunc-bar" ng-show="isDesignMode()">
            <p>Notifications ({{model.notifications.length}}):</p>
        </div>

        <div tabindex="-1" lp-focus-on="lp.notifications.focus" aria-live="polite">
            <div ng-repeat="notification in model.notifications track by notification.id" role="alert">
                <div class="alert {{getAlertClass(notification)}}">
                    <button type="button" class="close"
                            ng-show="notification.closable" ng-click="closeNotification(notification)">
                        <i class="lp-icon lp-icon-small lp-icon-remove"></i>
                    </button>
                    {{notification.message}}
                    <span ng-repeat="link in notification.links">
                        <span ng-if="isValidLink(link)">
                            <br ng-show="notification.links.length > 1" />
                            <a ng-href="{{link.uri}}"><span lp-message="link.rel" lp-bundle="messages"></span></a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>