.lp-places {
    overflow: auto;
}
.lp-places .map_canvas {
    position: relative;
    height: 478px;
    width: 100%;
    min-width: 100%;
}

/*
Fixes Bootstrap issues with Google Maps
see http://stackoverflow.com/a/9170756
*/
.lp-places .map_canvas img {
    max-width: none;
}
.lp-places .infoBox {
    position: relative;
    width: 280px;
    min-width: 280px;
    min-height: 120px;
}

.lp-places .lp-normal-size .panel-heading .lp-places-search {
    padding-right:0;
}
.lp-places .lp-normal-size .panel-heading {
    margin-right:0;
}
.lp-places .lp-small-size .panel-heading .lp-places-search {
    padding-bottom:8px;
}
.lp-places .lp-normal-size .lp-places-dropdown {
    padding-right:0;
}
.lp-places .opening-hours {
    color: #08C;
}